/*To create 3d effects, give the parent a perspective, and translateZ the children. transform-style: preserve3d; must also be set for the mouse move effect to work.*/

body {
    background-color: #14161E;
}

.mainCircle {
    /*the magic stuff*/
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: url('../img/bluedrop.svg') no-repeat;
}

.subCircle {
    transform: translateZ(200px);
    position: relative;
    top: 20%;
    width: 30%;
    height: 41%;
    background: url('../img/darkyellow.svg') no-repeat;
    transition: transform 0.25s ease;
}

#lightblue {
    background: url('../img/green.svg') no-repeat;
    transform: translateZ(100px);
}

#purple {
    background: url('../img/pinkring.svg') no-repeat;
    transform: translateZ(50px);
}