/*To create 3d effects, give the parent a perspective, and translateZ the children. transform-style: preserve3d; must also be set for the mouse move effect to work.*/

body {
    background-color: #14161E;
}

h1 {
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-size: 52px;
    z-index: 88;
    margin: 0;
    top: 50%;
    left: 40%;
}

.mainCircle {
    /*the magic stuff*/
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: visible;
}

.subCircle {
    position: relative;
    transform: translateZ(200px);
    transition: transform 0.25s ease;
}

/* .green {
    top: 70px;
    left: 60px;
    width: 9%;
    height: 20%;
    background: url('../img/green.svg') no-repeat;
    background-size: contain;
    transform: translateZ(100px);
} */

.bluedrop {
    top: 40%;
    left: 10%;
    width: 9%;
    height: 20%;
    background: url('../img/bluedrop.svg') no-repeat;
    background-size: contain;
    transform: translateZ(50px);
}

.darkyellow {
    width: 15%;
    height: 21%;
    background: url('../img/darkyellow.svg') no-repeat;
    background-size: contain;
    transform: translateZ(50px);
}

.greentablet {
    top: 30%;
    left: 45%;
    width: 8%;
    height: 20%;
    background: url('../img/greentablet.svg') no-repeat;
    background-size: contain;
    transform: translateZ(50px);
}

.pinkring {
    top: 60%;
    left: 5%;
    width: 20%;
    height: 20%;
    background: url('../img/pinkring.svg') no-repeat;
    background-size: contain;
    transform: translateZ(50px);
}

.sugarcube {
    top: 5%;
    width: 15%;
    height: 20%;
    background: url('../img/sugarcube.svg') no-repeat;
    background-size: contain;
    transform: translateZ(50px);
}

/* .purple {
    width: 20%;
    height: 20%;
    background: url('../img/purple.svg') no-repeat;
    background-size: contain;
    transform: translateZ(50px);
} */